.header__subtitle {
    margin: 0;
    padding: 0;
    width: 400px;
    position: absolute;
    bottom: 40px;
    left: 64px;
    z-index: 3;
}

@media screen and (max-width: 1024px) {
    .header__subtitle {
        width: 280px;
        bottom: calc(40px - (100vw - 1024px) * (40 - 28) / (1440 - 1024));
    }
}

@media screen and (max-width: 768px) {
    .header__subtitle {
        position: unset;
        width: 75vw;
        margin: 18px auto;
        text-align: center;
    }
}

@media screen and (max-width: 425px) {
    .header__subtitle {
        margin: 14px auto;
    }
}
