.cards {
  max-width: 1160px;
  display: grid;
  grid-template-columns: repeat(3, 320px);
  column-gap: 100px;
}


@media screen and (max-width: 1280px) {
  .cards {
    grid-template-columns: repeat(3, 240px);
    /*grid-template-rows: repeat(3, auto);*/
  }
}


@media screen and (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(3, 160px);
  }
}



@media screen and (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(1, 320px);
    grid-template-rows: repeat(3, auto);
  }
}


@media screen and (max-width: 425px) {
  .cards {
    grid-template-columns: repeat(1, 240px);
    grid-template-rows: repeat(3, auto);
  }
}