.logo_place_header {
    position: absolute;
    top: 30px;
    left: 64px;
    width: 250px;
    height: 50px;
    z-index: 4;
}

@media screen and (max-width: 425px) {
    .logo_place_header {
        margin: 30px auto;
        position: unset;
    }
}
