.logo_place_header {
  background-image: url(../../../images/logo7.svg);
  position: absolute;
  top: 30px;
  left: 64px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 250px;
  height: 50px;
}
