.section-title {
  width: 75%;
  text-align: center;
  margin: 0;
  line-height: var(--line-height-large-title-1600);
  font-size: var(--size-large-title-1600);
  font-weight: bold;
  color: #000;
}


@media screen and (max-width: 1440px) {
  .section-title {
    line-height: var(--line-height-large-title-1440);
    font-size: var(--size-large-title-1440);
  }
}

@media screen and (max-width: 1280px) {
  .section-title {
    line-height: var(--line-height-large-title-1280);
    font-size: var(--size-large-title-1280);
  }
}

@media screen and (max-width: 1024px) {
  .section-title {
    line-height: var(--line-height-large-title-1024);
    font-size: var(--size-large-title-1024);
  }
}

@media screen and (max-width: 768px) {
  .section-title {
    line-height: var(--line-height-large-title-768);
    font-size: var(--size-large-title-768);
  }
}

@media screen and (max-width: 425px) {
  .section-title {
    line-height: var(--line-height-large-title-425);
    font-size: var(--size-large-title-425);
  }
}



