.auth__hamburger {
  display: none;
}

@media screen and (max-width: 580px) {
  .auth__hamburger {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    padding: 0;
  }

  .auth__hamburger_path_line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .auth__hamburger_path_line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }

  .auth__hamburger_path_line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }

  .auth__hamburger_path_line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }

  .auth__hamburger_state_opened .auth__hamburger_path_line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }

  .auth__hamburger_state_opened .auth__hamburger_path_line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }

  .auth__hamburger_state_opened .auth__hamburger_path_line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
}

.auth__hamburger-opened {
  display: block;
}

.auth__hamburger-closed {
  display: none;
}
