:root {

    /*paragraph*/

    --size-paragraph-1600: 24px;
    --line-height-paragraph-1600: 1.6;
    --size-paragraph-1440: 22px;
    --line-height-paragraph-1440: 1.6;
    --size-paragraph-1280: 20px;
    --line-height-paragraph-1280: 1.5;
    --size-paragraph-1024: 18px;
    --line-height-paragraph-1024: 1.5;
    --size-paragraph-768: 16px;
    --line-height-paragraph-768: 1.5;
    --size-paragraph-425: 16px;
    --line-height-paragraph-425: 1.4;


    /*small title*/

    --size-small-title-1600: 18px;
    --line-height-small-title-1600: 1.7;
    --size-small-title-1440: 18px;
    --line-height-small-title-1440: 1.7;
    --size-small-title-1280: 18px;
    --line-height-small-title-1280: 1.6;
    --size-small-title-1024: 16px;
    --line-height-small-title-1024: 1.6;
    --size-small-title-768: 14px;
    --line-height-small-title-768: 1.5;
    --size-small-title-425: 14px;
    --line-height-small-title-425: 1.5;

    /*small text*/

    --size-small-text-1600: 18px;
    --line-height-small-text-1600: 1.2;
    --size-small-text-1440: 18px;
    --line-height-small-text-1440: 1.2;
    --size-small-text-1280: 18px;
    --line-height-small-text-1280: 1.2;
    --size-small-text-1024: 16px;
    --line-height-small-text-1024: 1.1;
    --size-small-text-768: 14px;
    --line-height-small-text-768: 1.1;
    --size-small-text-425: 14px;
    --line-height-small-text-425: 1.1;


    /*title*/

    --size-title-1600: 30px;
    --line-height-title-1600: 1.2;
    --size-title-1440: 32px;
    --line-height-title-1440: 1.2;
    --size-title-1280: 30px;
    --line-height-title-1280: 1.2;
    --size-title-1024: 28px;
    --line-height-title-1024: 1.1;
    --size-title-768: 26px;
    --line-height-title-768: 1.1;
    --size-title-425: 24px;
    --line-height-title-425: 1.1;

    /*large title*/

    --size-large-title-1600: 70px;
    --line-height-large-title-1600: 1.15;
    --size-large-title-1440: 62px;
    --line-height-large-title-1440: 1.15;
    --size-large-title-1280: 56px;
    --line-height-large-title-1280: 1.15;
    --size-large-title-1024: 52px;
    --line-height-large-title-1024: 1.15;
    --size-large-title-768: 44px;
    --line-height-large-title-768: 1.15;
    --size-large-title-425: 32px;
    --line-height-large-title-425: 1.15;

    --top-padding-section-1600: 100px;
    --top-padding-section-1440: 100px;
    --top-padding-section-1280: 80px;
    --top-padding-section-1024: 70px;
    --top-padding-section-768: 50px;
    --top-padding-section-425: 30px;

}
