.quizes {
  height: 800px;
}

.quizes__start {
  width: 100px;
  height: 40px;
}

.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  width: 500px;
  margin: 20px auto;

}

.quiz__answers {
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-self: flex-start;
}

.quiz__answer {
color: red;
  margin: 10px 0 10px 40px;
}


.quiz__submit-answer {
  width: 80px;
}


.quiz__submit-answer_active {
  background-color: coral;
}

.quiz__next-question {
  width: 150px;
}

.quiz__next-question_active {
  background-color: coral;
}

.quiz__hints {
  list-style-type: none;
}

.quiz__hint-content_hidden {
  display: none;
}

.section-subtitle__link {
  color: #17e9e0;
  text-decoration: none;
}

.description__list {
  list-style: none;
}
.description__list-item {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.resources__link {
  text-decoration: none;
}

.resources__item {
  color: #bdbdbd;
  font-size : 45px;
  font-weight: 900;
  margin: 0 40px 0 40px;
}