.auth {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  z-index: 5;
}

@media screen and (max-width: 768px) {
  .auth {
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 580px) {
  .auth {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
}

.auth_animation_open {
  animation: height-growing 10000s;
}

@keyframes height-growing {
  0%   {min-height: 26px;}
  0.01%  {min-height: 70px;}
  100% {min-height: 70px;}
}


.auth_animation_close {
  animation: height-shrinking 10000s;
}

@keyframes height-shrinking {
  0%   {min-height: 70px;}
  0.01%  {min-height: 26px;}
  100% {min-height: 26px;}
}
