.quizzes__quiz-content {
    box-shadow: 0 15px 12px rgba(0, 0, 0, 0.22);
    margin: 0;
    padding: 30px 30px 30px 30px;
    border-radius: 7px;
  border: 0;
  background: var(--background-color);
}
