@media screen and (max-width: 580px) {
  .auth__item_animation_open {
    animation: opacity-growing calc(var(--animation-open-time)*10s);
  }

  @keyframes opacity-growing {
    0%   {opacity: 0;}
    0.01%  {opacity: 1;}
    100% {opacity: 1;}
  }
}
