.feynman {
  min-height: 790px;
  padding-top: 100px;
  position: relative;
  background-color: #f2f2f2;
  background-image: url(../../images/pixel.png);
  background-size: 876px 637px;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;
}
