.header__title {
    margin: 0 0 0 64px;
    padding: 0;
    width: 650px;
    z-index: 3;
}

@media screen and (max-width: 1440px) {
    .header__title {
        width: 45vw;
        margin: 0 0 0 64px;
    }
}

@media screen and (max-width: 1280px) {
    .header__title {
        width: 45vw;
        margin: 0 0 0 64px;
    }
}

@media screen and (max-width: 1024px) {
    .header__title {
        width: 45vw;
        margin: 0 0 0 64px;
    }
}

@media screen and (max-width: 768px) {
    .header__title {
        width: 80vw;
        margin: 32px auto 0;
        text-align: center;
    }
}

@media screen and (max-width: 425px) {
    .header__title {
        margin: 22px auto 0;
    }
}
