.two-columns__span-accent {
    font-size: var(--size-paragraph-1600);
    line-height: var(--line-height-paragraph-1600);
    font-weight: bold;
}

@media screen and (max-width: 1440px) {
    .two-columns__span-accent {
        font-size: var(--size-paragraph-1440);
        line-height: var(--line-height-paragraph-1440);
    }
}

@media screen and (max-width: 1280px) {
    .two-columns__span-accent {
        font-size: var(--size-paragraph-1280);
        line-height: var(--line-height-paragraph-1280);
    }
}

@media screen and (max-width: 1024px) {
    .two-columns__span-accent {
        font-size: var(--size-paragraph-1024);
        line-height: var(--line-height-paragraph-1024);
    }
}

@media screen and (max-width: 768px) {
    .two-columns__span-accent {
        font-size: var(--size-paragraph-768);
        line-height: var(--line-height-paragraph-768);
    }
}

@media screen and (max-width: 425px) {
    .two-columns__span-accent {
        font-size: var(--size-paragraph-425);
        line-height: var(--line-height-paragraph-425);
    }
}
