.header {
    height: 100vh;
    max-width: 100%;
    min-height: 768px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background-orange);
    overflow: hidden;
}

@media screen and (max-width: 1440px) {
    .header {
        height: auto;
        min-height: calc(632px + (100vw - 1024px) * 0.54);
    }
}

@media screen and (max-width: 1024px) {
    .header {
        height: auto;
        min-height: calc(632px + (100vw - 1024px) * 0.54);
    }
}

@media screen and (max-width: 768px) {
    .header {
        height: auto;
        justify-content: start;
    }
}

