.form__heading {
  width: 358px;
  height: 23px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin: 34px 0 0 0;
  padding: 0;
}

@media screen and (max-width: 580px) {
  .form__heading {
    width: 200px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }
}
