.form__submit-button {
  border: 0;
  width: 358px;
  height: 50.15px;
  background: #000;
  color: #fff;
  border-radius: 2px;
  margin: 48px 0 37px 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  z-index: 5;
}

.form__submit-button:hover {
  opacity: 0.8;
  transition: 2s ease;
}

@media screen and (max-width: 580px) {
  .form__submit-button {
    width: 200px;
    height: 40px;
    font-size: 14px;
    line-height: 17px;
  }
}
