.quiz__result {
    margin: 0;
    padding: 0 0 15px 25px;
    vertical-align: middle;
    display: none;
}

@media screen and (max-width: 768px) {
    .quiz__result {
        padding: 0 0 15px 23px;
    }
}

@media screen and (max-width: 425px) {
    .quiz__result {
        padding: 0 0 15px 0;
    }
}
