.cards__title {
    margin: 43px 0 16px;
    line-height: var(--line-height-title-1600);
    font-size: var(--size-title-1600);
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 1440px) {
    .cards__title {
        line-height: var(--line-height-title-1440);
        font-size: var(--size-title-1440);
    }
}

@media screen and (max-width: 1280px) {
    .cards__title {
        line-height: var(--line-height-title-1280);
        font-size: var(--size-title-1280);
    }
}

@media screen and (max-width: 1024px) {
    .cards__title {
        line-height: var(--line-height-title-1024);
        font-size: var(--size-title-1024);
    }
}

@media screen and (max-width: 768px) {
    .cards__title {
        line-height: var(--line-height-title-768);
        font-size: var(--size-title-768);
    }
}

@media screen and (max-width: 425px) {
    .cards__title {
        line-height: var(--line-height-title-425);
        font-size: var(--size-title-425);
    }
}


