.auth_animation_close {
  animation: height-shrinking calc(var(--animation-open-time)*10s);
}

@keyframes height-shrinking {
  0%   {min-height: 70px;}
  0.01%  {min-height: 26px;}
  100% {min-height: 26px;}
}
