.wishes {
  min-height: 75vh;
  position: relative;
  background-color: #f2f2f2;
  background-image: url(../../images/pixel.png);
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position: left bottom;
}


@media screen and (max-width: 1440px) {
  .wishes {
    background-size: 817px 587px;

  }
}

@media screen and (max-width: 1280px) {
  .wishes {
    background-size: 760px 495px;
    background-position: center bottom;
  }
}

@media screen and (max-width: 1024px) {
  .wishes {
    background-size: 710px 477px;
  }
}

@media screen and (max-width: 768px) {
  .wishes {
    min-height: 60vh;
    background-size: 97vw auto;
  }
}

@media screen and (max-width: 425px) {
  .wishes {
    min-height: 45vh;
    background-size: 97vw auto;
  }
}


