.quiz__hint-title {
    background-color: transparent;
    color: var(--text-btn-color);
    border: none;
    padding: 0;
    margin: 0 0 10px 20px;
}

.quiz__hint-title:focus {
    outline-style: none;
}

@media screen and (max-width: 425px) {
    .quiz__hint-title {
        margin: 0 0 10px 0;
    }
}

