.quizes__button {
  text-align: center;
  padding: 0 20px 0 20px;
  margin: 0 40px 0 0;
  line-height: var(--line-height-paragraph-1440);
  font-size: var(--size-paragraph-1440);
  font-weight: normal;
}


.quizes__button:focus {
  outline-style: none;
}

.quizes__button:last-child {
  margin: 0;
}

@media screen and (max-width: 1440px) {
  .quizes__button {
    line-height: var(--line-height-paragraph-1440);
    font-size: var(--size-paragraph-1440);
  }
}

@media screen and (max-width: 1280px) {
  .quizes__button {
    line-height: var(--line-height-paragraph-1280);
    font-size: var(--size-paragraph-1280);
  }
}

@media screen and (max-width: 1024px) {
  .quizes__button {
    line-height: var(--line-height-paragraph-1024);
    font-size: var(--size-paragraph-1024);
  }
}

@media screen and (max-width: 768px) {
  .quizes__button {
    line-height: var(--line-height-paragraph-768);
    font-size: var(--size-paragraph-768);
  }
}

@media screen and (max-width: 425px) {
  .quizes__button {
    line-height: var(--line-height-paragraph-425);
    font-size: var(--size-paragraph-425);
    margin: 0 10px 0 0;
  }
}