.quizes__button-section {
    background-color: #fff;
    color: #a64ac9;
    border: 0;
    border-top: 2px solid #f2f2f2;
    border-right: 2px solid #f2f2f2;
    z-index: 2;
}

.quizes__button-section:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s ease-out;
}
