.form__input {
  border: 0;
  width: 100%;
  height: 36px;
  box-sizing: border-box;
  border-bottom: 1px solid #bcbcc4;
  background-color: transparent;
  margin: 45px 0 0 0;
  padding: 0 0 0 3px;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 17px;
  font-family: inherit;
}

.form__input:focus {
  outline: none;
  border: 1px solid #bcbcc4;
  border-radius: 2px;
}



@media screen and (max-width: 580px) {
  .form__input {
    font-size: 12px;
    line-height: 15px;
  }
}
