.quizzes__button {
  text-align: center;
  padding: 0 20px 0 20px;
  margin: 0 40px 0 0;
  border: 0;
}

.quizzes__button:focus {
  outline-style: none;
}

.quizzes__button:last-child {
  margin: 0;
}

@media screen and (max-width: 425px) {
  .quizzes__button {
    margin: 0 10px 0 0;
  }
}
